@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --background-dark: #232323;
  --nice-color: #ff004f;
  --nav-color: #080808;
  --textcolor: #ebecf3;
  --background: #111;
}

/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: PirataOne;
  src: url('./assets/font/PirataOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: var(--background) !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--background);
}

nav.navbar a.navbar-brand {
  width: auto;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-block;
  margin-left: 14px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: var(--background);
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.navbar-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 10px;
  font-family: PirataOne, sans-serif !important;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 30px;
    /* Adjust based on your design needs */
  }
}

/************ Banner Css ************/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Aligns items vertically in the middle of the container */
  align-items: start;
  /* Aligns items horizontally at the start of the container */
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/img/dark-souls.gif');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 80px;
  /* Added to maintain the left margin for child elements */
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  margin-left: 80px;
  display: block;
  font-family: 'PirataOne', sans-serif !important;
}

.banner .pronouns {
  font-size: 42px;
  color: #FF004F;
  margin-left: 2px;
}

.banner p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  margin-left: 80px;
  font-family: "Centra", sans-serif;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  margin-left: 80px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/************ About Css ************/

.about-title {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  color: var(--textcolor);
  font-family: 'PirataOne', sans-serif !important;
  font-size: 5rem;
}

.content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  color: var(--textcolor);

  margin: 5rem auto;
  grid-gap: 2rem;
  gap: 2rem;
}

.section-divider {
  position: absolute;
  border-top: 1px solid rgb(127, 126, 126);
  width: 100vw;
  z-index: -2;
}

.about-text {
  font-size: 1.3rem;
  margin: 10px;
}

.tools span {
  display: inline-flex;
  background-color: var(--background-dark);
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.tools h2 {
  font-size: 2rem;
  margin: 10px;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
  .about-title {
    margin-top: 20vh;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    padding-left: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: inherit;
  }

  .about-text {
    font-size: 1rem;
    margin: 5px;
  }

  .tools h2 {
    font-size: 1rem;
    margin: 5px;
  }

  .tools h1 {
    display: inline-block;
    width: 100%;
    white-space: normal;
    font-size: 1.4em;
  }
}

/* CSS class for the photo frame */
.photo-frame {
  border: 5px solid #FF004F;
  /* Adjust the color and size of the border */
  padding: 10px;
  /* Adjust the padding inside the frame */
  margin: 20px;
  /* Adjust the space around the frame */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Optional: Adds a shadow effect */
  display: inline-block;
  /* Adjust as necessary for your layout */
}



/************ Projects Css ************/

.title {
  font-size: 5rem;
  font-family: 'PirataOne', sans-serif !important;
  color: white;
  display: flex;
  justify-content: center;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  margin: 13rem;
  gap: 15rem;
  margin-bottom: 2rem;
}

.project {
  position: relative;
  color: white;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  background-color: var(--background-dark);
  margin-bottom: 5rem;
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-title {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  padding: 20px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.images:hover {
  transform: scale(0.9);
  /* Adjust the scale value as desired */
}

.project-info a {
  color: white;
  outline: none;
  transition: color 0.3s ease;
}

.project-info a:hover {
  color: var(--nice-color);
}

@media (max-width: 1150px) {
  .title {
    font-size: 3rem;
  }

  .projects-wrapper {
    display: block;
    margin: 2rem;
  }

  .project {
    width: 85%;
    height: auto;
    margin: 3rem;
  }

  .images {
    padding: 10px;
  }
}

/************ Visualization Css ************/

.visualization-title {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
  color: var(--textcolor);
  font-family: 'PirataOne', sans-serif !important;
  font-size: 5rem;
}

.content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  color: var(--textcolor);

  margin: 5rem auto;
  grid-gap: 2rem;
  gap: 2rem;
}

.section-divider {
  position: absolute;
  border-top: 1px solid rgb(127, 126, 126);
  width: 100vw;
  z-index: -2;
}

.visualization-text {
  font-size: 1.3rem;
  margin: 10px;
}

.tools span {
  display: inline-flex;
  background-color: var(--background-dark);
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.tools h2 {
  font-size: 2rem;
  margin: 10px;
}

/* Media Query for mobile devices */
@media screen and (max-width: 768px) {
  .visualization-title {
    margin-top: 20vh;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-wrapper {
    padding-left: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: inherit;
  }

  .visualization-text {
    font-size: 1rem;
    margin: 5px;
  }

  .tools h2 {
    font-size: 1rem;
    margin: 5px;
  }

  .tools h1 {
    display: inline-block;
    width: 100%;
    white-space: normal;
    font-size: 1.4em;
  }
}

/* CSS class for the photo frame */
.photo-frame {
  border: 5px solid #FF004F;
  /* Adjust the color and size of the border */
  padding: 10px;
  /* Adjust the padding inside the frame */
  margin: 20px;
  /* Adjust the space around the frame */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Optional: Adds a shadow effect */
  display: inline-block;
  /* Adjust as necessary for your layout */
}


/************ Contact Css ************/
.contact-wrap {
  max-width: 1500px;
  margin: 5rem auto;
}

.content {
  text-align: center;
  color: var(--textcolor);
  padding: 100px;
}

.content h1 {
  font-size: 5rem;
  font-family: 'PirataOne', sans-serif !important;
}

.content p {
  font-size: 1.5rem;
}

.email {
  font-size: 2rem;
  outline: none;
  text-decoration: none;
  color: white;
  margin: auto;
  transition: ease-in-out 0.2s;
}

.email:hover {
  color: var(--nice-color);
  /* Change color on hover */
}

.linked-in {
  text-decoration: none;
  color: var(--nice-color);
}

@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 3rem;
  }

  .content p {
    font-size: 1rem;
  }

  .email {
    font-size: 1.3rem;
  }
}